# Local
.DS_Store
*.local

# Node.js
node_modules/
dist/
built/

# npm
npm-debug.log

# Log files
*.log*
logs/
log/

# Dependency directories
jspm_packages/
bower_components/

# Profile
.rspack-profile-*/

# dotenv environment variables file
.env

# IDE
.vscode/*
!.vscode/extensions.json
.idea
